.jumbotron {
  text-align: center;
  background-size: cover;
  background-image: url("../img/road-ahead.jpeg");
  border-radius: 40%;
  margin-top: 20px;
}

h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
}

p {
  color: peru;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 4rem;
}

#quiz h3 {
  color: black;
  font-family: 'Amatic SC', cursive;
}

.row {
  text-align: center;
}

input[type=radio] {
    margin: -6px 0 0;
}

.form-control {
  -webkit-box-shadow: none;
}

.radio input[type=radio]{
  margin-left: -25px;
}

.btn {
  margin-top: 10rem;
  background-color: #33334d;
  border-color: #ffad33;
}

.btn:hover {
  background-color: #ffad33;
  border-color: #33334d;
}
