#css {
  display: none;
  margin-bottom: 13px;
}

#ruby {
  display: none;
}

#java {
  display: none;
}

#csharp {
  display: none;
}

#php {
  display: none;
}

.jumbotron {
  text-align: center;
  background-size: cover;
  background-image: url("../img/road-ahead.jpeg");
  border-radius: 10px;
  margin-top: 20px;
}

h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
}

p {
  color: peru;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 4rem;
}

#quiz h4 {
  color: black;
}

.row {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

.col-sm-6 {
  padding-bottom: 10px;
}

input[type=radio] {
    margin: -6px 0 0;
}

.form-control {
  -webkit-box-shadow: none;
}

.radio input[type=radio]{
  margin-left: -25px;
}

label {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.btn {
  margin-top: 10rem;
  background-color: #33334d;
  border-color: #ffad33;
  margin-bottom: 10rem;
}

.btn:hover {
  background-color: #ffad33;
  border-color: #33334d;
}

ul {
  float: center;
  border: dotted grey 1px;
  padding: 10px 10px 10px 23px;
  border-radius: 10px;

}
